<template>
  <v-layout align-end justify-right column fill-height>
    <p2>CodeWorks-AWear</p2>

    <p3>Smart Medical Wearable</p3>
   
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <p4>AWear este un sistem purtabil pentru supravegherea stării de sănătate.
        <br> 
        Acesta este urmatorul pas in evolutia sistemelor medicale. 
        <br>
        Sistemul AWear - Be healthy, be Awear .
    </p4>
    <v-spacer></v-spacer>
    <p4>Team CodeWorks</p4>
    <br>
    <img class="signatureAbout" :src="signatureImage" height="70px">
  
    <v-spacer></v-spacer>
    
    <v-spacer></v-spacer>

  </v-layout>
  
</template>

<script>
export default {
  data() {
    return {
      signatureImage: require("@/assets/sig.png")  
    }
  }
}

</script>



<style lang="sass">
p2
    padding-top:50px
    padding-right:20px
    font-weight:500
    font-size:5rem
    color:#1d6c6d
    line-height:1rem
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
p3
    padding-top:20px
    padding-right:20px
    font-weight:500
    font-size:2rem
    color:#1d6c6d
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
p4
    width:77%
    font-size:2.7rem
    font-weight:300

.signatureAbout
    padding-right:60rem
</style>