
<template>
  <v-layout column>
    <v-layout align-start justify-space-around row fill-height>
      <v-layout row>
        <v-flex xs12 sm7 offset-xs1>
          <v-card>
            <v-toolbar white>
              <v-toolbar-title class="text-xs-center">Welcome</v-toolbar-title>
            </v-toolbar>

            <v-list subheader>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title
                    style="padding-top:15px; color:black"
                    v-html="' Name: '+DoctorData.DoctorName"
                  ></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title
                    style="padding-top:15px; color:black"
                    v-html="' Specialization: '+DoctorData.DoctorSpecialization"
                  ></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
      <!-- <div>
      <v-list three-line>
        <v-list-tile>
          <h2>Patient 1</h2>
          <div class="login-other row mt-4">
            <div class="col-sm-5">
              <div class="submit-btn-area">
                <button id="for_recomandation" type="submit">Recomandation</button>
              </div>
            </div>
            <v-spacer></v-spacer>
            <div class="col-sm-5">
              <div class="submit-btn-area">
                <button id="for_details" type="submit">Details</button>
              </div>
            </div>
          </div>
     
        </v-list-tile>
        <v-list-tile>
          <h2>Patient 1</h2>
          <div class="login-other row mt-4">
            <div class="col-sm-5">
              <div class="submit-btn-area">
                <button id="for_recomandation" type="submit">Recomandation</button>
              </div>
            </div>
            <v-spacer></v-spacer>
            <div class="col-sm-5">
              <div class="submit-btn-area">
                <button id="for_details" type="submit">Details</button>
              </div>
            </div>
          </div>
        </v-list-tile>
        <v-list-tile>
          <h2>Patient 1</h2>
          <div class="login-other row mt-4">
            <div class="col-sm-5">
              <div class="submit-btn-area">
                <button id="for_recomandation" type="submit">Recomandation</button>
              </div>
            </div>
            <v-spacer></v-spacer>
            <div class="col-sm-5">
              <div class="submit-btn-area">
                <button id="for_details" type="submit">Details</button>
              </div>
            </div>
          </div>
        </v-list-tile>
        <v-list-tile>
          <h2>Patient 1</h2>
          <div class="login-other row mt-4">
            <div class="col-sm-5">
              <div class="submit-btn-area">
                <button id="for_recomandation" type="submit">Recomandation</button>
              </div>
            </div>
            <v-spacer></v-spacer>
            <div class="col-sm-5">
              <div class="submit-btn-area">
                <button id="for_details" type="submit">Details</button>
              </div>
            </div>
          </div>
        </v-list-tile>
      </v-list>
      </div>-->
      <v-layout row>
        <!-- PACIENTS -->
        <v-flex xs12 sm6>
          <v-card>
            <v-toolbar white>
              <v-toolbar-title class="text-xs-center">Patients</v-toolbar-title>
            </v-toolbar>

            <v-list subheader>
              <v-list-tile
                v-for="item in DoctorPatients"
                :key="item.fullName"
                avatar
                @click="showData(item.id)"
              >
                <v-list-tile-avatar>
                  <img :src="'https://cdn.vuetifyjs.com/images/lists/'+avatarCounter+'.jpg'">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title
                    style="padding-top:15px; color:black"
                    v-html="item.firstName+' '+item.lastName"
                  ></v-list-tile-title>
                </v-list-tile-content>

                <v-list-tile-action>
                  <i class="fas fa-info"></i>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
      <div>
        <!-- Recomandation -->
        <h1>Recomandation</h1>
        <textarea
          v-model="recom"
          placeholder="Enter recommandation for selected patient"
          class="recTextArea"
          name="message"
          style="width:350px; height:350px;"
        ></textarea>
        <div class="login-other row mt-4">
          <div class="col-sm-4">
            <div class="submit-btn-area">
              <button id="form_submit" type="submit" @click="postRecommandation()">Submit</button>
            </div>
          </div>
          <v-spacer></v-spacer>
          <div class="col-sm-4">
            <div class="submit-btn-area">
              <button id="form_cancel" type="cancel">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </v-layout>

    <v-layout
      style="padding-top:30px"
      align-start
      justify-space-between
      row
      fill-height
      v-if="seen"
    >
      <!-- PACIENT DETAILS -->
      <v-layout row>
        <v-flex xs12 sm3 style="padding-left:55px">
          <v-card>
            <v-toolbar white>
              <v-toolbar-title class="text-xs-center">Patient</v-toolbar-title>
            </v-toolbar>

            <v-list subheader>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title
                    style="padding-top:15px; color:black"
                    v-html="' Name: '+PatientToShow.firstName+' '+PatientToShow.lastName"
                  ></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title
                    style="padding-top:15px; color:black"
                    v-html="' Height: '+PatientToShow.height"
                  ></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title
                    style="padding-top:15px; color:black"
                    v-html="' Weight: '+PatientToShow.weight"
                  ></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title
                    style="padding-top:15px; color:black"
                    v-html="' Date of birth: '+PatientToShow.dateOfBirth.substring(0,PatientToShow.dateOfBirth.length-9)"
                  ></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex xs12 sm3 style="padding-left:55px">
          <v-card>
            <v-toolbar white>
              <v-toolbar-title class="text-xs-center">Sensor Data</v-toolbar-title>
            </v-toolbar>

            <v-list subheader>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title style="padding-top:15px; color:black">Time: {{dt.TimeStamp}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title style="padding-top:15px; color:black">Temp: {{dt.Temperature}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title style="padding-top:15px; color:black">Hum: {{dt.Humidity}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title style="padding-top:15px; color:black">Pulse: {{dt.Pulse}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title style="padding-top:15px; color:black">EKG: {{dt.EKGValue}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>

        <v-flex xs12 sm5 style="padding-left:55px">
          <v-card>
            <v-toolbar white>
              <v-toolbar-title class="text-xs-center">Recomandation History</v-toolbar-title>
            </v-toolbar>

            <v-list subheader>
              <v-list-tile v-for="item in PatientToShowReco" :key="item">
                <v-list-tile-content>
                  <v-list-tile-title style="padding-top:15px; color:black" v-html="item"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-layout>

  <!-- <v-list subheader>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title style="padding-top:15px; color:black" v-html="' Name: '+DoctorPatients.fullname"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title style="padding-top:15px; color:black" v-html="' Specialization: '+DoctorData.DoctorSpecialization"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
  </v-list>-->
</template>


<script>
/* eslint-disable */

import axios from "axios";
export default {
  data() {
    return {
      seen: false,

      DoctorData: [
        {
          DoctorName: "",
          DoctorSpecialization: ""
        }
      ],
      recom: "",
      doctorDataLog: [],
      avatars: [
        { link: "https://cdn.vuetifyjs.com/images/lists/1.jpg" },
        { link: "https://cdn.vuetifyjs.com/images/lists/2.jpg" },
        { link: "https://cdn.vuetifyjs.com/images/lists/3.jpg" },
        { link: "https://cdn.vuetifyjs.com/images/lists/4.jpg" }
      ],
      avatarCounter: 1,
      link: "",
      //DoctorPatients: [],
      DoctorPatients: [],

      PatientToShow: {},
      PatientToShowReco: [],
      dt: {
        id: "",
        TimeStamp: "",
        Temperature: "",
        Humidity: "",
        Pulse: "",
        EKGValue: ""
      }
    };
  },
  methods: {
    onStateChanged({ id, TimeStamp, Temperature, Humidity, Pulse, EKGValue }) {
      Object.assign(this.dt, {
        id,
        TimeStamp,
        Temperature,
        Humidity,
        Pulse,
        EKGValue
      });
    },
    showData(id) {
      this.DoctorPatients.forEach(element => {
        if (element.id === id) {
          console.log(element);
          this.PatientToShow = element;
          console.log(this.doctorDataLog.id + " " + this.PatientToShow.id);
          axios
            .get(
              "https://awearapi.azurewebsites.net/api/Recommandations/ofPacientByMedic?MedicId=" +
                this.doctorDataLog.id +
                "&PacientId=" +
                this.PatientToShow.id
            )
            .then(response => {
              console.log(response);
              var recomends = response.data;
              //console.log("this be them pacients RECOS "+recomends[1].recMessage);
              console.log(recomends);
              recomends.forEach(reco => {
                console.log("ALL THE RECOS" + reco.recMessage);
                this.PatientToShowReco.push(
                  "Gave on: " +
                    reco.timeStamp.substring(0, 16) +
                    " R: " +
                    reco.recMessage
                );
              });
              console.log(PatientToShowReco);
            })
            .catch(e => {});
        }
      });

      console.log("wanna show me the good goood");
      console.log(this.PatientToShow);
      this.dt={
        id: "",
        TimeStamp: "",
        Temperature: "",
        Humidity: "",
        Pulse: "",
        EKGValue: ""
      };
      this.PatientToShowReco=[];
      this.seen = true;
    },
    postRecommandation() {
      axios
        .post(
          "https://awearapi.azurewebsites.net/api/Recommandations?PacientId=" +
            this.PatientToShow.id +
            "&MedicId=" +
            this.doctorDataLog.id,
          { recMessage: this.recom }
        )
        .then(response => {
          console.log(
            "Gave Recomandation to" +
              this.PatientToShow.id +
              " from " +
              this.doctorDataLog.id
          );
          alert("Gave Recomandation:" + this.recom);
          this.recom = "";
        })
        .catch(e => {
          console.log(
            "FAILED:Gave Recomandation to" +
              this.PatientToShow.id +
              " from " +
              this.doctorDataLog.id
          );
          console.log(e);
        });
    }
  },
  created() {
    this.doctorDataLog = JSON.parse(localStorage.getItem("user"));
    this.DoctorData.DoctorName =
      this.doctorDataLog.firstName + " " + this.doctorDataLog.lastName;
    this.DoctorData.DoctorSpecialization = this.doctorDataLog.fieldOfPractice;
    this.DoctorData.DoctorPatients = this.doctorDataLog.pacients;
    console.log("GONNA GET EM ALL");
    console.log(this.doctorDataLog);
    axios
      .get(
        "https://awearapi.azurewebsites.net/api/pacients/ofMedic?MedicId=" +
          this.doctorDataLog.id
      )
      .then(response => {
        console.log("this be them pacients" + response.data);
        response.data.forEach(pacient => {
          console.log(pacient);
          this.DoctorPatients.push(pacient);
        });
      })
      .catch(e => {});

    this.$sensorDataHub.$on("sensor-data-update", this.onStateChanged);
  },
  beforeDestroy() {
    this.$sensorDataHub.$off("sensor-data-update", this.onStateChanged);
  },
  mounted() {},
  updated() {}
};
</script>



<style>
.fa-info {
  color: black;
}
.recTextArea {
  box-sizing: border-box;
  border-color: rgb(169, 169, 169);
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  resize: none;
}

.col-sm-4 {
  width: 45%;
}

.col-sm-5 {
  padding-bottom: 25px;
  padding-left: 15px;
  width: 130px;
}

.mt-4 {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-button {
}

.welcomeH1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3.2rem;
}

.personDetailsH2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
}

li {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3.2rem;
}
</style>
