<template>
    <v-navigation-drawer cliped floating app dark v-model="drawer" class="elevation-12">
      <v-img :src="drawerImage" height="300px"></v-img>
      <v-divider></v-divider>
      <v-list two-line>
        <v-list-tile>
          <v-list-tile-content>
             <router-link to="/home">
              <p5 class="headline">{{drawerData[0].title}}</p5>
             </router-link>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-content>
             <router-link to="/about">
            <p5 class="headline">{{drawerData[1].title}}</p5>
             </router-link>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-content>
             <router-link to="/home">
            <p5 class="headline">{{drawerData[2].title}}</p5>
             </router-link>
          </v-list-tile-content>
        </v-list-tile>
         <v-list-tile>
          <v-list-tile-content>
             <router-link to="/register">
            <p5 class="headline">{{drawerData[3].title}}</p5>
             </router-link>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
</template>

<script>

export default {
  
  components: {

  },
  methods: {},
  data() {
    return {
      signatureImage: require("@/assets/sig.png"),
      drawerImage: require("@/assets/logo4.png"),
      drawerData: [
        {
          title: "Log off",
          componentName: "/login"
        },
        {
          title: "Register Patient",
          componentName: "/register"
        }
      ]
    };
  }
};


</script>

<style>
.v-list__tile__title {
  height: 50px;
  text-align: center;
}

.router-link-active
{
  text-decoration: none!important;
  width:100%;
  text-align: left;
}

.router-link
{
  text-decoration: none!important;
}

a
{
  text-decoration: none!important;
  color:white!important;
  width:100%;
  text-align: center;
}
</style>
