<template>
    <v-footer
      dark
      height="20"
    >
      <v-card
        class="flex"
        flat
        tile
     
      >
        
  
        <v-card-actions class="grey darken-3 justify-center">
          <pFoot class="footerText">&copy;2019 —  <strong>CodeWorks</strong></pFoot>
        </v-card-actions>
      </v-card>
    </v-footer>
</template>

<script>
export default {
    data()
    {
        return{
                icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram'
        ]
        }
    }
}
</script>

<style>
.footerText
{
    font-size: 13px!important;
}
</style>

