<template>
  <v-layout align-center justify-center column fill-height>
    <p>CodeWorks-AWear</p>

    <p1>Smart Medical Wearable</p1>
  </v-layout>
</template>

<style lang="sass">
p
    font-weight:500
    font-size:5rem
    color:#1d6c6d
    line-height:1rem
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
p1
    padding-left:20rem
    font-weight:500
    font-size:2rem
    color:#1d6c6d
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
</style>
