<template>
   <v-layout align-start justify-space-around row fill-height>
   
      <v-flex xs12 sm7 offset-xs1>
        <v-card>
          <v-toolbar white>
            <v-toolbar-title class="text-xs-center">Welcome</v-toolbar-title>
          </v-toolbar>

          <v-list subheader>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title style="padding-top:15px; color:black" v-html="' Name: '+DoctorData.DoctorName"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title style="padding-top:15px; color:black" v-html="' Specialization: '+DoctorData.DoctorSpecialization"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    
  </v-layout>
  
</template>


<style>



</style>
