<template>
  <v-layout align-start justify-space-around row fill-height>
    <v-layout row>
      <v-flex xs12 sm7 offset-xs3>
        <v-card>
          <v-toolbar white>
            <v-toolbar-title class="text-xs-center">Welcome</v-toolbar-title>
          </v-toolbar>

          <v-list subheader>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title
                  style="padding-top:15px; color:black"
                  v-html="' Name: '+PacientData.PacientName"
                ></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title
                  style="padding-top:15px; color:black"
                  v-html="' CNP: '+PacientData.CNP"
                ></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title
                  style="padding-top:15px; color:black"
                  v-html="' Gender: '+PacientData.Gender"
                ></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title
                  style="padding-top:15px; color:black"
                  v-html="' Height: '+PacientData.Height"
                ></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title
                  style="padding-top:15px; color:black"
                  v-html="' Weight: '+PacientData.Weight"
                ></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title
                  style="padding-top:15px; color:black"
                  v-html="' Address: '+PacientData.Address"
                ></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row>
  
        <v-flex xs12 sm7 offset-xs3>
          <v-card>
            <v-toolbar white>
              <v-toolbar-title class="text-xs-center">Recomandation History</v-toolbar-title>
            </v-toolbar>

            <v-list subheader>
              <v-list-tile v-for="item in PatientToShowReco" :key="item">
                <v-list-tile-content>
                  <v-list-tile-title style="padding-top:15px; color:black" v-html="item"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm7 offset-xs3>
        <v-card>
          <v-toolbar white>
            <v-toolbar-title class="text-xs-center">Warnings</v-toolbar-title>
          </v-toolbar>

          <v-list subheader>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title
                  style="padding-top:15px; color:black"
                  v-html="'TBD! '"
                ></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
/* eslint-disable */
import axios from "axios";
export default {
  data() {
    return {
      PacientData: [
        {
          PacientName: "",
          CNP: "",
          Gender: "",
          Height: "",
          Weight: "",
          Address: ""
        }
      ],

      pacientDataLog:[],
      PatientToShowReco:[]
    };
  },
  created() {
    this.pacientDataLog = JSON.parse(localStorage.getItem("user"));
    this.PacientData.PacientName =
      this.pacientDataLog.firstName + " " + this.pacientDataLog.lastName;
    this.PacientData.CNP = this.pacientDataLog.cnp;
    this.PacientData.Gender = this.pacientDataLog.gender;
    this.PacientData.Height = this.pacientDataLog.height;
    this.PacientData.Weight = this.pacientDataLog.weight;
    this.PacientData.Address = this.pacientDataLog.address;
    this.getAllRecos()
  },
  methods:
  {
    getAllRecos: function()
    {
       axios
              .get("https://awearapi.azurewebsites.net/api/Recommandations/ofPacientByMedic?MedicId="+this.pacientDataLog.medicId+"&PacientId="+this.pacientDataLog.id)
              .then(response => {
                console.log(response);
                var recomends = response.data;
                //console.log("this be them pacients RECOS "+recomends[1].recMessage);
                console.log(recomends);
                recomends.forEach(reco => {
                    console.log("ALL THE RECOS"+reco.recMessage)
                    this.PatientToShowReco.push("Gave on: "+reco.timeStamp.substring(0,16)+ " R: "+reco.recMessage)
                   
                });
                 console.log(PatientToShowReco);
              })
              .catch(e => {
                console.log(e);
              });
    }
  },
 
  mounted() {},
  updated() {}

  

}
</script>


<style>
.welcomeH1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3.2rem;
}
</style>
