<template>
  <v-layout v-layout align-space-around justify-start column fill-height>
    <v-form v-model="valid">
      <v-container>
        <v-layout align-space-around justify-start row fill-height>
          <v-img :src="registerCover"></v-img>
        </v-layout>
      </v-container>
      
      <v-container>
            <v-spacer>
        </v-spacer>
        
        <v-layout align-space-around justify-center row fill-height>
          <v-flex xs12 md4>
            <v-text-field v-model="username" label="Username" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field
              v-model="password"
              :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'"
              name="input-10-2"
              label="Password"
              hint="At least 1 characters"
              counter
              @click:append="show1 = !show1"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container>
        <v-layout>
          <v-flex xs12 md4>
            <v-text-field v-model="cnp" label="CNP" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="firstname" label="Prenume" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="lastname" label="Nume" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="adress" label="Adressa" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="dateOfBirth" label="Data Nasterii" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="telephoneNumber" label="Numar telefon" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="height" label="Inaltime" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="weight" label="Greutate" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="gender" label="Sex" required></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container>
        <v-layout>
          <v-flex>
            <v-layout align-center justify-center row fill-height>
              <v-btn v-on:click="tryRegister">Register</v-btn>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-layout>
</template>


<script>
import axios from "axios";
//import router from "../router.js"

export default {
  data() {
    return {
      registerCover: require("@/assets/coverRegister.jpg"),
      counter: 0,
      show1: false,
      show2: true,
      show3: false,
      show4: false,

      username: "",
      email: "",
      password: "",
      cnp: "",
      firstname: "",
      lastname: "",
      adress: "",
      dateOfBirth: "",
      telephoneNumber: "",
      height: 0,
      weight: 0,
      gender: "",


      medicId:"",
      loginInformation: "Please enter your credentials",
      nameRules: [
        v => !!v || "Name is required",
        v => v.length <= 1 || "Name must be less than 1 characters"
      ],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      posts: [],
      errors: [],
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 1 || "Min 1 characters",
        emailMatch: () => "The email and password you entered don't match"
      },
      headers: {
        "Access-Control-Allow-Credentials": true,
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Methods": "GET",
        "Access-Control-Allow-Headers": "application/json"
      }
    };
  },
  methods: {
    tryRegister: function() {
      axios
        .post("https://awearapi.azurewebsites.net/api/auth/register_pacient?MedicId="+this.medicId, {
          Username: this.username,
          Email: this.email,
          Password: this.password,
          CNP:this.cnp,
          FirstName:this.firstname,
          LastName:this.lastname,
          Address:this.adress,
          DateOfBirth:this.dateOfBirth,
          TelephoneNumber:this.telephoneNumber,
          Height:this.height,
          Weight:this.weight,
          Gender:this.gender
        })
        .then(response1 => {
          alert(response1.data);
         
        })
        .catch(er => {
          alert(er);
          this.errors.push(er);
        });
    }

    // dummyLogin: function()
    // {
    //   var doctorDataLog=JSON.parse(localStorage.getItem('doctorData'))

    //   if(this.email==doctorDataLog.doctorEmail&&this.password==doctorDataLog.doctorPassword)
    //   {
    //     router.push('doc');
    //   }
    //   else
    //   {
    //     this.loginInformation="Mail or password incorrect!"
    //   }
    // }
  },

  // Fetches posts when the component is created.
  created() {
    this.medicId=JSON.parse(localStorage.getItem("user")).id
  },
  mounted() {
    this.medicId=JSON.parse(localStorage.getItem("user")).id
  }
};
</script>

<style>
.login-area {
  background: #f3f8fb;
}

.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.login-box form {
  margin: auto;
  width: 450px;
  max-width: 100%;
  background: #fff;
  border-radius: 3px;
}

.login-form-head {
  text-align: center;
  background: #1d6c6d;
  padding: 50px;
}

.login-form-head h4 {
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 7px;
  color: #fff;
}

.login-form-head p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

.login-form-body {
  padding: 50px;
}

.form-gp {
  margin-bottom: 25px;
  position: relative;
}

.form-gp label {
  position: absolute;
  left: 0;
  top: 0;
  color: #b3b2b2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-gp.focused label {
  top: -15px;
  color: #1d6c6d;
}

.form-gp input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

.form-gp input::-webkit-input-placeholder {
  color: #dad7d7;
}

.form-gp input::-moz-placeholder {
  color: #dad7d7;
}

.form-gp input:-ms-input-placeholder {
  color: #dad7d7;
}

.form-gp input:-moz-placeholder {
  color: #dad7d7;
}

.form-gp i {
  position: absolute;
  right: 5px;
  bottom: 15px;
  color: #38b3da;
  font-size: 16px;
}

.rmber-area {
  font-size: 13px;
}

.submit-btn-area {
  text-align: center;
}

.submit-btn-area button {
  width: 100%;
  height: 50px;
  border: none;
  background: #fff;
  color: #585b5f;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submit-btn-area button:hover {
  background: #38b3da;
  color: #ffffff;
}

.submit-btn-area button i {
  margin-left: 15px;
  -webkit-transition: margin-left 0.3s ease 0s;
  transition: margin-left 0.3s ease 0s;
}

.submit-btn-area button:hover i {
  margin-left: 20px;
}

.submit-btn-area1 {
  text-align: center;
}

.submit-btn-area1 button {
  width: 110px;
  height: 60px;
  border: none;
  background: #fff;
  color: #585b5f;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 600;
  font-size: 10px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submit-btn-area1 button:hover {
  background: #38b3da;
  color: #ffffff;
}

.submit-btn-area1 button i {
  margin-left: 20px;
  -webkit-transition: margin-left 0.3s ease 0s;
  transition: margin-left 0.3s ease 0s;
}

.submit-btn-area1 button:hover i {
  margin-left: 20px;
}

.login-other a {
  display: block;
  width: 100%;
  max-width: 250px;
  height: 43px;
  line-height: 43px;
  border-radius: 40px;
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
}
.form-footer a {
  margin-left: 5px;
}

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
pLogin {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #444;
  margin-bottom: 0;
}
p img {
  margin: 0;
}

/* links */

a,
a:visited {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: 0;
  font-family: "Poppins", sans-serif;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  outline: 0;
}

p a,
p a:visited {
  line-height: inherit;
  outline: 0;
}

/* list */

ul,
ol {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

ol {
  list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
  margin-left: 0px;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 0px;
}

button {
  cursor: pointer;
  outline: none !important;
  letter-spacing: 0;
}
</style>
