<template>
 
  <v-app>
 
    <v-navigation-drawer cliped floating app dark v-model="drawer" class="elevation-12">
      <v-img :src="drawerImage" height="300px"></v-img>
      <v-divider></v-divider>
      <v-list two-line>
        <v-list-tile v-if="(currentPath!='/doc' && currentPath!='/pac'&& currentPath!='/register')">
          <v-list-tile-content>
          <div class="drawerTitle" style="cursor: pointer" @click="routeTo('home')">
              <p5 class="headline drawerTitleText">{{drawerData[0].title}}</p5>
            </div>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="(currentPath!='/doc' && currentPath!='/pac'&& currentPath!='/register')">
          <v-list-tile-content>
            <div class="drawerTitle" style="cursor: pointer" @click="routeTo('about')">
              <p5 class="headline drawerTitleText">{{drawerData[1].title}}</p5>
            </div>
          </v-list-tile-content>
        </v-list-tile>
       
          <v-list-tile v-if="(currentPath!='/doc' && currentPath!='/pac'&& currentPath!='/register')">
            <v-list-tile-content>
              <div class="drawerTitle" style="cursor: pointer" @click="routeTo('login')">
                <p5 class="headline drawerTitleText">{{drawerData[2].title}}</p5>
              </div>
            </v-list-tile-content>
          </v-list-tile>

           <v-list-tile v-if="(currentPath=='/register')">
            <v-list-tile-content>
              <div class="drawerTitle" style="cursor: pointer" @click="routeTo('doc')">
                <p5 class="headline drawerTitleText">Back</p5>
              </div>
            </v-list-tile-content>
          </v-list-tile>


        <v-list-tile v-if="currentPath=='/doc'"><!--  this is log off for doc -->
          <v-list-tile-content>
            <!-- <router-link to="/loggedOff"> -->
            <div class="drawerTitle" style="cursor: pointer" @click="logOff()">
              <p5 class="headline drawerTitleText">Log off</p5>
            <!-- </router-link> -->
            </div>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="currentPath=='/pac'">
          <v-list-tile-content>
            <!-- <router-link to="/loggedOff"> -->
            <div class="drawerTitle" style="cursor: pointer" @click="logOff()">
              <p5 class="headline drawerTitleText">Log off</p5>
            <!-- </router-link> -->
            </div>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="currentPath=='/doc'">
          <v-list-tile-content>
            <div class="drawerTitle" style="cursor: pointer" @click="routeTo('register')">
              <p5 class="headline drawerTitleText">Register Patient</p5>
            </div>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    
    </v-navigation-drawer>
      
    <v-content transition="slide-x-transition">
      <v-layout align-space-between justify-end column fill-height>
      <keep-alive>
        <router-view>
          
        </router-view>
           
      </keep-alive>
        <foot/> 
      </v-layout>
    
    </v-content>

  </v-app>

</template>

<script>
import {router} from "./_helpers";
import footer from "./components/footer"

export default {
  name: "App",
  components: {
    foot:footer
  },
  methods: {
    logOff()
    {
      localStorage.removeItem('user');
      router.push("home");
    },
    routeTo(route)
    {
      router.push(route);
    }

  },
  data() {
    return {
      signatureImage: require("@/assets/sig.png"),
      drawerImage: require("@/assets/logo4F.png"),
      drawerData: [
        {
          title: "Home",
          componentName: "/home"
        },
        {
          title: "About",
          componentName: "/about"
        },
        {
          title: "Login",
          componentName: "/login"
        },
        {
          title: "Register",
          componentName: "/Register"
        }
      ],
      currentPath: ""
    };
  },
  created() {
    var patientData = {
      patientEmail: "pat@gmail.com",
      patientPassword: "1337",
      patientName: "Falk Bogdan",
      patientR1: "Creste Umiditatea camerei",
      patientR2: "Administreaza 2l de apa pe zi",
      patientW1: "20.05.2019 - Puls peste masura (120)"
    };
    var doctorData = {
      doctorEmail: "doc@gmail.com",
      doctorPassword: "1337",
      doctorName: "Fotonea Cristina",
      doctorSpecialization: "General Medicine"
    };

    localStorage.setItem("patientData", JSON.stringify(patientData));
    localStorage.setItem("doctorData", JSON.stringify(doctorData));
  },
  mounted() {
    this.currentPath = router.currentRoute.fullPath;
  },
  updated() {
    //alert(router.currentRoute.fullPath);
    this.currentPath = router.currentRoute.fullPath;
  }
};



</script>


<style>

.drawerTitle{
  color:#0DB6BA;
  display:flex;
  width: 100%;
  text-align: center;
  justify-content: center;

}


.drawerTitle:after,
.drawerTitle:before{
  
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 3rem;
  width: 100%;
  margin-top: -5px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;

}


.drawerTitle:before {
  border-left: 2px solid;
  /* border-right: 2px solid; */
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

.drawerTitle:after {
  border-bottom: 2px dotted;
  border-top: 2px dotted;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.drawerTitle:hover:after,
.drawerTitle:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.v-list__tile__title {
  height: 50px;
  text-align: center;
}

.router-link-active {
  text-decoration: none !important;
  width: 100%;
  text-align: left;
}

.router-link {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
  color: white !important;
  width: 100%;
  text-align: center;
}
</style>
